<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>598204608555-6l4q9qhrkbru2u4pja1v14dtrenp7ad9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.598204608555-6l4q9qhrkbru2u4pja1v14dtrenp7ad9</string>
	<key>API_KEY</key>
	<string>AIzaSyDui38hapDy6GA7AqozKKd5y2iZaO1R4qA</string>
	<key>GCM_SENDER_ID</key>
	<string>598204608555</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.geoFish</string>
	<key>PROJECT_ID</key>
	<string>geo-fish-f60f2</string>
	<key>STORAGE_BUCKET</key>
	<string>geo-fish-f60f2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:598204608555:ios:7e7ea7382773c0b123ba6e</string>
</dict>
</plist>